﻿@charset "utf-8";
/*清除所有属性*/
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, big, em, font, img, strong, tt, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0;
	margin: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
input, select, textarea {
	font-size: 12px
}
ol, ul {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
li {
	list-style: none
}
/*常用*/
.pd10 {
	padding-left: 10px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both
}
a {
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:active, a:focus {
	-moz-outline: none;
	outline: none;
 ie-dummy:expression(this.hideFocus=true);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.disNone {
	display: none;
}
ul li{-webkit-tap-highlight-color: rgba(0,0,0,0);}
/*body*/

/*header*/
.header {
	width: 100%;
	height: 43px;
	background: #d7010f;
	position: relative;
	border-bottom: 2px solid #a20b0a;
}
.header .logo {
	width: 71px;
	margin: 0 auto;
	padding-top: 10px;
}
.header .title {
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 43px;
	line-height: 43px;
	font-size: 1em;
	text-align: center;
	font-weight: bold;
	color: #FFF;
}
.header .returnindex {
	width: 20px;
	height: 16px;
	background: url(../images/returnindex.png);
	background-size: 100% 100%;
	position: absolute;
	top: 12px;
	left: 25px;
	z-index: 99;
}
.downaa {
	position: absolute;
	width: 16px;
	height: 16px;
	background: url(../images/downaa.png);
	top: 13px;
	right: 30px;
	z-index: 99;
	background-size: 100% 100%;
}
.downaa a, .returnindex a {
	width: 100%;
	height: 100%;
	display: block;
}
/*footer*/
.footer {
	width: 100%;
	height: 47px;
	border-top: 1px solid #f4f3f4;
	background: #f9f8f9;
	position: fixed;
	bottom: 0;
}
.footer li {
	width: 25%;
	text-align: center;
	height: 47px;
	float: left;
	position: relative;
}
.footer li a {
	display: block;
	width: 100%;
	height: 100%;
	margin-top: -3px;
}
.footer li .aspan {
	font-size: .875em;
	position: absolute;
	bottom: 3px;
	z-index: 9;
	width: 80px;
	left: 50%;
	margin-left: -40px;
	color: #828282;
}
.footer li div {
	margin: 5px auto 0;
}
.footer li .div1 {
	background: url(../images/bottomnav1_01.png);
	background-size: 100% 100%;
	width: 28px;
	height: 21px;
}
.footer li .div2 {
	background: url(../images/bottomnav2_01.png);
	background-size: 100% 100%;
	width: 24px;
	height: 25px;
}
.footer li .div3 {
	background: url(../images/bottomnav3_01.png);
	background-size: 100% 100%;
	width: 35px;
	height: 23px;
}
.footer li .div4 {
	background: url(../images/bottomnav4_01.png);
	background-size: 100% 100%;
	width: 20px;
	height: 21px;
}
.footer .cur .div1 {
	background: url(../images/bottomnav1_02.png);
	background-size: 100% 100%;
}
.footer .cur .div2 {
	background: url(../images/bottomnav2_02.png);
	background-size: 100% 100%;
}
.footer .cur .div3 {
	background: url(../images/bottomnav3_02.png);
	background-size: 100% 100%;
}
.footer .cur .div4 {
	background: url(../images/bottomnav4_02.png);
	background-size: 100% 100%;
}
.footer .cur .aspan {
	color: #F00;
}
.color7000f {
	color: #d7000f;
}
.msgmode {
	opacity: 0;
	background-color: rgba(51,51,51,0.9);
	border-radius: 2px;
	padding: 15px;
	width: 190px;
	position: fixed;
	top: 50%;
	margin-top: -27px;
	left: 50%;
	margin-left: -110px;
	font-size: 0.875e,;
	text-align: center;
	color: #FFF;
	display: none;
}

