﻿@charset "utf-8";
/* CSS Document */

.login{  height:180px; background:url(../images/login.png) no-repeat; background-size:100% 100%; margin:50px auto; width:220px; padding:0 20px; position:relative;}

.login .name,.login .phone,.login .submit { width:185px; height:40px;border:0; padding-left:40px; font-size:12px; color:#999; }
.login .name{ background:url(../images/name.png) no-repeat; background-size:100% 100%; margin-top:15px; }
.login .phone{ background:url(../images/phoneNum.png) no-repeat; background-size:100% 100%;margin-top:10px;}
.login .submit{ background:url(../images/submit.png) no-repeat; background-size:100% 100%;margin-top:10px; padding:0; width:225px;}


.radiodiv{width:100px; height:15px; margin:10px auto;}
.radiodiv .cur{ background:url(../images/radiobgcur.png); background-size:100% 100%;}
.radio{ background:url(../images/radiobg.png); background-size:100% 100%;}
.spanaaa{ width:15px; height:15px;display: inline-block; line-height:15px; float:left; margin:0 5px;}


.share{ text-align:center; font-size:12px; line-height:25px; margin-top:10px;padding-bottom:26px;}
.share .pt{ font-size:20px; margin-bottom:5px;}
.share .pp{ text-align:left; margin-left:50px;}
.share .upload{ width:189px; height:140px; background:url(../images/upload.png) no-repeat; background-size:100% 100%; margin:0 auto;}
.share .upload input{ width:100%; height:100%; opacity:0;}
.sharea{ width:116px; height:28px; display:block; background:url(../images/fxiang.png) no-repeat; background-size:100% 100%; margin:5px auto;}
.footer{ width:100%; text-align:left; background:#ededed; color:#999; height:25px; line-height:25px; position:fixed; bottom:0; font-size:10px;}
.zz {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	display: none;
}
.zz .zzbg {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
}
.zz .chaxun {
	position: fixed;
	top: 140px;
	right: 40px;
	z-index: 10;
	width: 107px;
	height: 31px;
	display: block;
	background: url(../images/huojiang.png) no-repeat;
	background-size: 100% 100%;
}
.zz .chaxun a {
	width: 100%;
	height: 100%;
	display: block;
}
.te_c {
	text-align: center;
}
.color_ff0000 {
	color: #ff0000;
}
.font_b {
	font-weight: bold;
}
.font_16 {
	font-size: 16px;
}
.font_14 {
	font-size: 14px;
}
.font_18 {
	font-size: 25px;
}
.mt10 {
	margin-top: 8px;
}
.share2 {
	width: 231px;
	padding: 85px 19px 0 19px;
	font-size: 12px;
	height: 80px;
	background: url(../images/share2.png);
	background-size: 100% 245px;
	margin: 10px auto;
    
}
.gift {
	width: 269px;
	margin: 0 auto;
}
.gift ul {
	width: 500px;
}
.gift ul li {
	float: left;
	width: 72px;
	height: 90px;
	margin-right: 27px;
}
.gift ul li img {
	width: 72px;
	height: 90px;
}
.ranking {
	width: 269px;
	margin: 10px auto;
	font-size:12px; line-height:23px;
    padding-bottom:26px;
}
.ranking .fd{ height:20px; margin-bottom:5px;}
.ranking .span {
	display: block;
	float: left;
	margin-right:5px;
}
.ranking .cishu{ width:100px; height:20px; background:#f3f6f6; border-radius:8px;}
.ranking .cishu .percentage{ background:#01d48f;  height:20px;  border-radius:8px; text-indent:10px; font-size:12px;  font-weight:bold;}




















