
 <div class="container">
  <p><gt name="actid" value="0"><a href="{:U('Index/index')}" class="btn btn-warning">返回</a>&nbsp;</gt></p>
  <form class="form-inline" role="form" method="get" action="{:U('Award/index')}">

  <div class="form-group">
    <label class="sr-only" for="user">姓名</label>
    <input type="text" name="user" class="form-control" id="user" placeholder="姓名" value="{$user}">
  </div>
  <div class="form-group">
    <label class="sr-only" for="mobile">手机</label>
    <input type="text" name="mobile" id="mobile" class="form-control" placeholder="手机" value="{$mobile}">
  </div>  
  <div class="checkbox">
    <label>
      <input type="checkbox" name="award" value="1" <eq name="award" value="1">checked</eq>> 是否中奖
    </label>
  </div>
  <input type="hidden" name="actid" value="{$actid}" />
  <button type="submit" class="btn btn-default">查询</button>&nbsp;<a href="{:U('Award/export',array('user'=>$user,'mobile'=>$mobile,'award'=>$award,'actid'=>$actid,'rnd'=>time()))}" class="btn btn-warning">导出</a>
</form>

  <table class="table">
      <thead>
        <tr>
          <th>活动主题</td>   
          <th width="20%">奖品</th>
          <th width="15%">抽奖时间</th>
          <th width="15%">收货信息</th> 
          <th width="15%">分享次数</th>         
        </tr> 
      </thead>
      <tbody>
        <volist name="list" id="vo">
        <tr>
          <td>{$vo.acttitle}</td>
          <td>{$vo.gifttitle}</td> 
          <td>{$vo.addtime|date='Y-m-d H:i:s',###}</td>           
          
          <td>
            <eq name="vo.isAward" value="1">
              <font color="red">是</font>&nbsp;
              <eq name="vo.isSend" value="1">
                <a href="{:U('Award/send',array('id'=>$vo['id']))}" title="物流名称：{$vo.express} 快递单号：{$vo.expressNo} 发货时间：{$vo.sendtime|date='Y-m-d H:i:s',###} 收件人：{$vo.sendname} 电话:{$vo.sendmobile}" class="btn btn-success">已发货</a>
              <else />
                <a href="{:U('Award/send',array('id'=>$vo['id']))}" class="btn btn-warning">未发货</a>
              </eq>
            <else />否</eq></td>     
          <td><a href="{:U('Invite/index',array('openid'=>$vo['openid']))}">{$vo.inviteCount}</a></td> 
          </td>
        </tr>
        </volist>
      </tbody>
  </table>   
  <p>参与人数:<span class="label label-info">{$count}</span>,中奖人数:<span class="label label-info">{$awardCount}</span>,中奖机率:<span class="label label-info">{$awardParent}%</span>,总分享次数:<span class="label label-info">{$totalInviteCount}</span></p> 
  <p></p> 
</div>
