 <script language="javascript" type="text/javascript" src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>
 <div class="container">
  <p><a href="{:U('Award/index')}" class="btn btn-warning">返回</a></p>
  <form method="post" action="{:U('Award/save')}" class="form-horizontal" role="form">
        <h2 id="form-title" style="margin: 0px 0px 20px 0px">发货</h2>
        <div class="form-group">           
              <label for="express"  class="col-sm-2 control-label">快递名称</label>
              <div class="col-sm-10">   
                <input type="text" name="express" id="express"  placeholder="快递名称" autocomplete="on" value="{$vo.express}" class="form-control"/>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="expressNo"  class="col-sm-2 control-label">快递单号</label>     
             <div class="col-sm-10">            
              <input name="expressNo" value="{$vo.expressNo}" placeholder="快递单号" class="form-control"/>          
                <span class="help-block"></span>
            </div>  
        </div>   
        <div class="form-group">
            <label for="sendname"  class="col-sm-2 control-label">收件人姓名</label> 
            <div class="col-sm-10">                
              <input name="sendname" value="{$vo.sendname}"  placeholder="收件人姓名" class="form-control"/>             
                <span class="help-block"></span>
            </div>  
        </div>  
        <div class="form-group">
            <label for="sendmobile"  class="col-sm-2 control-label">收件人手机</label>    
            <div class="col-sm-10">             
              <input name="sendmobile" value="{$vo.sendmobile}" placeholder="收件人手机" class="form-control"/>           
                <span class="help-block"></span>
            </div>  
        </div>   
        <div class="form-group">
            <label for="sendaddr"  class="col-sm-2 control-label">收件人地址</label>      
            <div class="col-sm-10">           
              <input name="sendaddr" value="{$vo.sendaddr}"  placeholder="收件人地址" class="form-control"/>            
                <span class="help-block"></span>
            </div>  
        </div> 
        <div class="form-group">
      
            <label for="sendtime"  class="col-sm-2 control-label">发货时间</label>  
            <div class="col-sm-10">           
              <input  name="sendtime" value="{$vo.sendtime|date='Y-m-d H:i:s',###}" id="sendtime" placeholder="发货时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />           
                <span class="help-block"></span>
            </div>
            
        </div>
        <div class="form-group" >       
          <input type="hidden" name="id" value="{$vo.id}" /> 
          <input type="hidden" name="isSend" value="1" />
          <label for="sendtime"  class="col-sm-2 control-label"></label>  
           <div class="col-sm-10">    
            <input type="submit" class="btn btn-primary " value="提交" />
            </div>
        </div>
    </form>
    
</div>