
 <div class="container">
  <p><a href="{:U('Gift/edit',array('actid'=>$actid))}" class="btn btn-primary">新增</a>&nbsp;|&nbsp;<a href="{:U('Index/index')}" class="btn btn-warning">返回</a></p>
  <table class="table">
      <thead>
        <tr>
          <th width="10%">ID</td>
          <th>标题</th>
          <th width="15%">中奖机率</th>
          <th width="10%">排序值</th>
          <th width="15%">是否中奖</th>
          <th width="10%">数量</th>
          <th width="20%">操作</th>
        </tr> 
      </thead>
      <tbody>
        <volist name="list" id="vo">
        <tr>
          <td>{$vo.id}</td>
          <td>{$vo.title}</td> 
          <td>{$vo.probability}%</td>       
          <td>{$vo.listorder}</td>  
          <td><eq name="vo.isAward" value="1">是<else />否</eq></td>
           <td>{$vo.num}</td>
          <td><a href="{:U('Gift/del',array('id'=>$vo['id']))}" class="btn btn-danger" onclick="return confirm('确认要删除吗？');">删除</a>&nbsp;<a href="{:U('Gift/edit',array('id'=>$vo['id'],'actid'=>$actid))}" class="btn btn-warning">修改</a>
          </td>
        </tr>
        </volist>
      </tbody>
  </table>    
</div>
