
 <div class="container">
    <p><a href="{:U('Gift/index',array('actid'=>$actid))}" class="btn btn-warning">返回</a></p>
 	<form method="post" role="form" action="{:U('Gift/save')}">
        <h2 id="form-title" style="margin: 0px 0px 20px 0px"><gt name="vo['id']" value="0">修改<else />增加</gt>奖项</h2>
        <div class="form-group">
            <div>
            	<label for="title">标题</label>
                <input type="text" name="title" id="title"  placeholder="标题" autocomplete="on" value="{$vo.title}" />
                <span class="help-block"></span>
            </div>
        </div>
       <!--  <div class="form-group">
            <div>
            	<label for="desc">机率</label>            	
            	<input name="probability" value="{$vo.probability}" placeholder="中奖机率" /> %             
                <span class="help-block">必须是小于100的值</span>
            </div>  
        </div> -->
        <div class="form-group">
            <div>
                <label for="listorder">排序</label>
            	<input type="text" name="listorder" id="listorder"  placeholder="排序" autocomplete="on" value="{$vo.listorder}" />              
                <span class="help-block">排序和界面上的奖项要一一对应，排序为从小到大原则</span>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label for="listorder">奖品数量</label>
                <input type="text" name="num"  placeholder="奖品数量" autocomplete="on" value="{$vo.num}" />              
                <span class="help-block">如果是中奖奖品必须是大于0的数字 奖品数量和参与人数，会决定中奖的机率</span>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label for="listorder">是否中奖</label>
                <input type="checkbox" name="isAward"  placeholder="是否中奖" autocomplete="on" <eq name="vo.isAward" value="1">checked="true"</eq> value="1"/>              
                <span class="help-block">用于提示用户是否已经中奖，如设置为非中奖，奖品数量会根据参与人数自动计算；注：必须至少增加一个未中奖的项目</span>
            </div>
        </div>
        <div class="form-group" >       
        	<input type="hidden" name="id" value="{$vo.id}" />   
            <input type="hidden" name="actid" value="{$actid}" />   
            <input type="submit" class="btn btn-primary " value="提交" />
        </div>
    </form>

     

    
</div>