 <script language="javascript" type="text/javascript" src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>
 <div class="container">
    <p><a href="{:U('Index/index')}" class="btn btn-warning">返回</a></p>
 	<form method="post" role="form" action="{:U('Index/save')}" ENCTYPE="multipart/form-data" class="form-horizontal" role="form">
        <h2 id="form-title" style="margin: 0px 0px 20px 0px"><gt name="vo['id']" value="0">修改<else />增加</gt>活动</h2>
        <div class="form-group">        
        	<label for="title" class="col-sm-2 control-label">活动标题</label>
            <div class="col-sm-10">
                <input type="text" name="title" class="form-control" id="title"  placeholder="标题" autocomplete="on" value="{$vo.title}" />
                <span class="help-block"></span>
            </div>           
        </div>
        <div class="form-group">

            <label for="desc"  class="col-sm-2 control-label">活动描述</label>
            <div class="col-sm-10">
                <input type="text" name="desc" id="desc" class="form-control" placeholder="活动描述" autocomplete="on" value="{$vo.desc}" />
                <span class="help-block"></span>
            </div>

        </div>

 <!--        <div class="form-group">

            <label for="banner"  class="col-sm-2 control-label">活动Banner</label>
            <div class="col-sm-10">                
                <input type="file" name="banner" id="banner" autocomplete="on"/>
                <if condition="strlen($vo['banner']) gt 5">
                <a href="__ROOT__/{$vo.banner}" target="_blank"><img src="__ROOT__/{$vo.banner}" style="max-width:120px;max-height:60px" /></a>
                </if>
                <span class="help-block"></span>
            </div>

        </div> -->

        <div class="form-group">

            <label for="award_bg"  class="col-sm-2 control-label">转盘奖品图</label>
            <div class="col-sm-10">                
                <input type="file" name="award_bg" id="award_bg" autocomplete="on"/>
                <if condition="strlen($vo['award_bg']) gt 5">
                <a href="__ROOT__/{$vo.award_bg}" target="_blank"><img src="__ROOT__/{$vo.award_bg}"  style="max-width:120px;max-height:120px"/></a>
                </if>
                <span class="help-block">建议尺寸 550*550</span>
            </div>

        </div>
        
        <div class="form-group">

            <label for="keyword"  class="col-sm-2 control-label">匹配关键字</label>   
            <div class="col-sm-10">           
                <input name="keyword" class="form-control" value="{$vo.keyword}" placeholder="发送微信匹配的关键字" />           
                <span class="help-block">多个关建字以|分隔，注意前后也必须有|</span>
            </div>

        </div>
        <div class="form-group">

            <label for="keyword_pic"  class="col-sm-2 control-label">关键字展示图片</label>
            <div class="col-sm-10">
                <if condition="strlen($vo['keyword_pic']) gt 5">
                <a href="__ROOT__/{$vo.keyword_pic}" target="_blank"><img src="__ROOT__/{$vo.keyword_pic}"  style="max-width:360px;max-height:200px" /></a>
                </if>
                <input type="file"  name="keyword_pic" id="keyword_pic"/>               
                <span class="help-block">建议尺寸 360*200</span>
            </div>

        </div>
        <div class="form-group">

            <label for="invite_logo"  class="col-sm-2 control-label">分享信息LOGO</label>
            <div class="col-sm-10">
                <if condition="strlen($vo['invite_logo']) gt 5">
                <a href="__ROOT__/{$vo.invite_logo}" target="_blank"><img src="__ROOT__/{$vo.invite_logo}" style="max-width:60px;max-height:60px"/></a>
                </if>
                <input  type="file" name="invite_logo" id="invite_logo" />               
                <span class="help-block">建议尺寸 60*60</span>
            </div>

        </div>
        <div class="form-group">

            <label for="invite_title"  class="col-sm-2 control-label">分享标题</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="invite_title" id="invite_title"  placeholder="分享标题" autocomplete="on" value="{$vo.invite_title}" />
                <span class="help-block"></span>
            </div>

        </div>
        <div class="form-group">
       
            <label for="invite_desc"  class="col-sm-2 control-label">分享描述</label>
            <div class="col-sm-10">
                <input  class="form-control" type="text" name="invite_desc"  placeholder="分享标题" id="intvite_desc" autocomplete="on" value="{$vo.invite_desc}" />
                <span class="help-block"></span>
            </div>
     
        </div>
        
        <div class="form-group">
      
            <label for="starttime"  class="col-sm-2 control-label">开始时间</label>  
            <div class="col-sm-10">          	
            	<input  name="starttime" value="{$vo.starttime|date='Y-m-d H:i:s',###}" id="starttime" placeholder="开始时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />           
                <span class="help-block"></span>
            </div>
            
        </div>
        <div class="form-group">
            
            <label for="endtime"  class="col-sm-2 control-label">结束时间</label>
            <div class="col-sm-10">
            	<input  name="endtime" value="{$vo.endtime|date='Y-m-d H:i:s',###}" id="endtime" placeholder="结束时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />                
                <span class="help-block"></span>
            </div>
        </div>

        <div class="form-group">

            <label for="num"  class="col-sm-2 control-label">抽奖次数</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="num" id="num"  placeholder="抽奖次数" autocomplete="on" value="{$vo.num}" />
                <span class="help-block">必须是大于0的数字</span>
            </div>

        </div>

        <div class="form-group">

            <label for="people"  class="col-sm-2 control-label">计划参与人数</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="people" id="people"  placeholder="计划参与人数" autocomplete="on" value="{$vo.people}" />
                <span class="help-block">必须是大于0的数字，以此数值自动计算中奖概率</span>
            </div>

        </div>

        <div class="form-group">
            
            <label for="rule"  class="col-sm-2 control-label">活动规则</label>  
            <div class="col-sm-10">            
                <textarea class="form-control" name="rule" id="rule" rows="4" placeholder="活动规则">{$vo.rule}</textarea>           
                <span class="help-block">多条规则用|分隔</span>
            </div>
           
        </div>
        
        <div class="form-group">
            
            <label for="listorder"  class="col-sm-2 control-label">是否启用</label>
            <div class="col-sm-10">
                <input  type="checkbox" name="status"  placeholder="是否启用" autocomplete="on" <eq name="vo.status" value="1">checked="true"</eq> value="1"/>              
                <span class="help-block"></span>
            </div>
          
        </div>
        <!-- <div class="form-group">
           
            <label for="invite_more"  class="col-sm-2 control-label">可重复中奖</label>
            <div class="col-sm-10">
                <input  type="checkbox" name="invite_more"  id="invite_more" placeholder="可重复中奖" autocomplete="on" <eq name="vo.invite_more" value="1">checked="true"</eq> value="1" />              
                <span class="help-block"></span>
            </div>
           
        </div> -->
        <div class="form-group" >     
            <label for="invite_more"  class="col-sm-2 control-label">&nbsp;</label>  
            <div class="col-sm-10">
            	<input type="hidden" name="id" value="{$vo.id}" />    
                <input type="submit" class="btn btn-primary " value="提交" />
            </div>
        </div>
    </form>

     

    
</div>