
 <div class="container">
 	<p><a href="{:U('Index/edit')}" class="btn btn-primary">新增</a></p>
 	<table class="table">
  		<thead>
  			<tr>
  				<th width="10%">ID</td>
  				<th>标题</th>
          <th width="15%">开始时间</th>
          <th width="15%">结束时间</th>
          <th width="10%">状态</th> 

  				<th width="25%">操作</th>
  			</tr>	
  		</thead>
  		<tbody>
  			<volist name="list" id="vo">
  			<tr>
            <td><a href="http://cjx.uniview.biz/index.php/Home/Index/index?openid=o5F7_jiX5j8GVYq16wtnvdo4Rp9I&actid={$vo.id}" target="_blank">{$vo.id}</a></td>
          <td>{$vo.title}</td> 
  				<td>{$vo.starttime|date="Y-m-d H:i:s",###}</td>  			
          <td>{$vo.endtime|date="Y-m-d H:i:s",###}</td> 	
          <td><eq name="vo.status" value="1"><span class="label label-success">已启用</span><else /><span class="label label-danger">已关闭</span></eq></td>
        
  				<td><a href="{:U('Index/del',array('id'=>$vo['id']))}" class="btn btn-danger" onclick="return confirm('确认要删除吗？');">删除</a>&nbsp;<a href="{:U('Index/edit',array('id'=>$vo['id']))}" class="btn btn-warning">修改</a>&nbsp;<a href="{:U('Gift/index',array('actid'=>$vo['id']))}" class="btn btn-warning">管理礼品</a>&nbsp;<a href="{:U('Award/index',array('actid'=>$vo['id']))}" class="btn btn-warning">统计</a>
          </td>
  			</tr>
  			</volist>
  		</tbody>
	</table>    
</div>
