
 <div class="container">
  <p><a href="javascript:history.go(-1);" class="btn btn-default">返回</a></p>
  <table class="table">
      <thead>
        <tr>
          <th width="15%">用户名</td>
          <th width="15%">手机</th>
          <th width="10%">分享时间</th>
          <th width="15%">IP</th>

        </tr> 
      </thead>
      <tbody>
        <volist name="list" id="vo">
        <tr>
          <td>{$vo.username}</td>
          <td>{$vo.mobile}</td> 
          
          <td>{$vo.addtime|date='Y-m-d H:i:s',###}</td>  
     <td>{$vo.ip}</td>      
        </tr>
        </volist>
      </tbody>
  </table>    
</div>
